<div class="card">
  <p-table
    [value]="tournois"
    [paginator]="true"
    [rows]="5"
    [rowHover]="true"
    [(selection)]="selectedTournoi"
    dataKey="id"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="header">
      <tr>
       <!-- <th style="width:5%"></th> -->
        <th style="width:5%">nom</th>
        <th style="width:5%">lieu</th>
        <th style="width:5%">nombre d'inscriptions</th>
        <th style="width:5%">nombre minimum de joueur</th>
        <th style="width:5%">nombre maximum de joueur</th>
        <th style="width:5%">eLO min</th>
        <th style="width:5%">eLO max</th>
        <th style="width:5%">catégorie</th>
        <th style="width:5%">statut</th>
        <th style="width:5%">Women Only</th>
        <th style="width:5%">date fin d'inscription</th>
        <th style="width:5%">ronde courante</th>
        <th style="width:5%"></th>
        <th style="width:5%"></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tournoi>
      <tr>
      <!--  <td>
          <p-tableCheckbox [value]="tournoi"></p-tableCheckbox>
        </td> -->
        <td>{{ tournoi.nom }}</td>
        <td>{{ tournoi.lieu }}</td>
        <td>{{ tournoi.nombreJoueursInscrits }}</td>
        <td>{{ tournoi.nombreMinJoueurs }}</td>
        <td>{{tournoi.nombreMaxJoueurs}}</td>
        <td>{{tournoi.eLOMin}}</td>
        <td>{{tournoi.eLOMax}}</td>
        <td>{{tournoi.categories}}</td>
        <td>{{tournoi.statut}}</td>
        <td>{{tournoi.womenOnly}}</td>
        <td>{{tournoi.dateFinInscriptions}}</td>
        <td>{{tournoi.rondeCourante}}</td>
        <td><p-button severity="info" icon="pi pi-info-circle" class="p-button-rounded "(click)="openDetail(tournoi.id)"></p-button></td>
        <!--<td><p-button severity="help" icon="pi pi-file-edit" class="p-button-rounded" (click)="editTournoi(tournoi.id)"></p-button></td>--->
        <td><p-button *ngIf="role ==='ADMIN'" severity="danger" icon="pi pi-trash" class="p-button-rounded " (click)="deleteTournoi(tournoi.id)"></p-button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button *ngIf="role ==='ADMIN'" icon="pi pi-plus" [rounded]="true" severity="success" (click)="ajoutTournoi()"></p-button>
    </ng-template>
  </p-table>
</div>

<div>
  <p-dialog [(visible)]="addTournoiDialog" [style]="{width: '450px'}" header="Ajout d'un tournoi" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="name">Nom</label>
        <input pInputText id="name" [(ngModel)]="nouveauTournoi.nom" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !nouveauTournoi.nom">Un nom est requis</small>
      </div>
      <div class="p-field">
        <label for="lieu">Lieu</label>
        <input pInputText id="lieu" [(ngModel)]="nouveauTournoi.lieu" required autofocus>
        <small class="p-invalid" *ngIf="submitted && !nouveauTournoi.lieu">Un lieu est requis</small>
      </div>
      <div class="p-field">
        <label for="ELoMin">Elo Min</label>
        <p-inputNumber id="ELoMin" [(ngModel)]="nouveauTournoi.eLOMin"  aria-valuemax="3000"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="EloMax">Elo Max</label>
        <p-inputNumber id="EloMax" [(ngModel)]="nouveauTournoi.eLOMax"  ></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="nbrJoueurMin">Nbr Min Joueurs</label>
        <p-inputNumber id="nbrJoueurMin" [(ngModel)]="nouveauTournoi.nombreMinJoueurs"  aria-valuemax="3000"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="nbrJoueuerMax">Nbr Max Joueurs</label>
        <p-inputNumber id="nbrJoueuerMax" [(ngModel)]="nouveauTournoi.nombreMaxJoueurs"  ></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="dateFinInscription">Date fin d'inscrioption</label>
        <p-calendar id="dateFinInscription" [(ngModel)]="nouveauTournoi.dateFinInscriptions" dateFormat="dd.mm.yy"></p-calendar>
      </div>

      <div class="p-field">
        <label class="p-mb-3">Categorie</label>
          <div class="card flex justify-content-center">
            <p-multiSelect [options]="categorieOptions" [(ngModel)]="nouveauTournoi.categories" optionLabel="name" optionValue="value"></p-multiSelect>
          </div>
        </div>

      <div class="p-field">
        <label class="p-mb-3">Status</label>
        <div class="card flex justify-content-center">
          <p-dropdown [options]="statusOptions" [(ngModel)]="nouveauTournoi.statut" optionLabel="name" optionValue="value" [showClear]="true" placeholder="Select a City"></p-dropdown>
        </div>
      </div>

      <div class="p-field">
        <label class="p-mb-3">Women Only</label>
        <div class="card flex justify-content-center">
          <p-inputSwitch [(ngModel)]="nouveauTournoi.womenOnly"></p-inputSwitch>
        </div>
      </div>

      <div>
        <button pButton pRipple type="button" label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple type="submit" label="Sauvegarder" icon="pi pi-check" class="p-button-text" (click)="saveTournoi()" ></button>
      </div>
    </ng-template>
  </p-dialog>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
      <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple type="submit" label="Sauvegarder" icon="pi pi-check" class="p-button-text" (click)="saveTournoi()" ></button>
      </ng-template>

</div>


<p></p>
  <div *ngIf="ceTournoi">
    <app-tournoi-getone  [tournoiTab]="ceTournoi"></app-tournoi-getone>
  </div>
<p></p>



