<div>
  <h3>Détail du tournoi</h3>
</div>
<div class="card">
  <p-toast></p-toast>
  <p-table [value]="tournoiTab" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:20%">Nom</th>
        <th style="width:20%">Lieu</th>
        <th style="width:20%">nombreJoueursInscrits</th>
        <th style="width:20%">nombreMinJoueurs</th>
        <th style="width:20%">nombreMaxJoueurs</th>
        <th style="width:20%">eLOMin</th>
        <th style="width:20%">eLOMax</th>
        <th style="width:20%">catégories</th>
        <th style="width:20%">status</th>
        <th style="width:20%">womenOnly</th>
        <th style="width:20%">dateFinInscription</th>
        <th style="width:20%">RondeCourante</th>
        <th style="width:20%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tournoi let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="tournoi">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.nom">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.nom}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.lieu">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.lieu}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.nombreJoueursInscrits">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.nombreJoueursInscrits}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.nombreMinJoueurs">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.nombreMinJoueurs}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.nombreMaxJoueurs">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.nombreMaxJoueurs}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.eLOMin">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.eLOMin}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.eLOMax">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.eLOMax}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.categories">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.categories}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.status">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.status}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.womenOnly">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.womenOnly}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.dateFinInscriptions">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.dateFinInscriptions}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="tournoi.rondeCourante">
            </ng-template>
            <ng-template pTemplate="output">
              {{tournoi.rondeCourante}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(tournoi)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(tournoi)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(tournoi)" class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
