<div>
  <h3>Ajouter un nouveau tournoi</h3>
</div>
<div>
  <form [formGroup]="tournoiForm" (ngSubmit)="onSubmit()">
    <input formControlName="nom" placeholder="Nom">
    <input formControlName="lieu" placeholder="Lieu">
    <input formControlName="nombreJoueursInscrits" placeholder="Nombre de joueurs inscrits">
    <input formControlName="nombreMinJoueurs" placeholder="Nombre minimum de joueurs">
    <input formControlName="nombreMaxJoueurs" placeholder="Nombre maximum de joueurs">
    <input formControlName="eLOMin" placeholder="ELO minimum">
    <input formControlName="eLOMax" placeholder="ELO maximum">
    <input formControlName="categories" placeholder="Catégories">
    <input formControlName="statut" placeholder="Statut">
    <input formControlName="womenOnly" placeholder="Réservé aux femmes">
    <input formControlName="dateFinInscriptions" placeholder="Date de fin des inscriptions">
    <input formControlName="rondeCourante" placeholder="Ronde courante">
    <p-button type="submit" label="Submit"></p-button>
  </form>
</div>

